@import "tailwindcss";
@plugin "@tailwindcss/typography";
@font-face {
    font-family: "Suisse Works Trial";
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/SuisseWorksTrialRegular/SuisseWorksTrialRegular.eot");
    src: url("../fonts/SuisseWorksTrialRegular/SuisseWorksTrialRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SuisseWorksTrialRegular/SuisseWorksTrialRegular.woff") format("woff"),
    url("../fonts/SuisseWorksTrialRegular/SuisseWorksTrialRegular.ttf") format("truetype");
}
@font-face {
    font-family: "Suisse Works Trial";
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/SuisseWorksTrialBold/SuisseWorksTrialBold.eot");
    src: url("../fonts/SuisseWorksTrialBold/SuisseWorksTrialBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SuisseWorksTrialBold/SuisseWorksTrialBold.woff") format("woff"),
    url("../fonts/SuisseWorksTrialBold/SuisseWorksTrialBold.ttf") format("truetype");
}
:root {
        --px: 0.06944444444444445vw;
        --size-20: 1.3888888888888888vw;
    --cubic-default: cubic-bezier(0.625, 0.05, 0, 1);
    --duration-default-double: 1.2s;
    --duration-default-onehalf: 0.9s;
    --duration-default: 0.6s;
    --duration-default-half: 0.3s;
    --animation-default-double: var(--duration-default-double) var(--cubic-default);
    --animation-default-onehalf: var(--duration-default-onehalf) var(--cubic-default);
    --duration-default-quarter: 0.15s;
    --animation-default: var(--duration-default) var(--cubic-default);
    --animation-default-half: var(--duration-default-half) var(--cubic-default);
    --animation-default-quarter: var(--duration-default-quarter) var(--cubic-default);
    --animation-ease: 0.2s ease;
    --animation-ease-double: 0.4s ease;
    --cubic-bounce: linear(0, 0.5737 7.6%, 0.8382 11.87%, 0.9463 14.19%, 1.0292 16.54%, 1.0886 18.97%, 1.1258 21.53%, 1.137 22.97%, 1.1424 24.48%, 1.1423 26.1%, 1.1366 27.86%, 1.1165 31.01%, 1.0507 38.62%, 1.0219 42.57%, 0.9995 46.99%, 0.9872 51.63%, 0.9842 58.77%, 1.0011 81.26%, 1);
}
@media(max-width: 1024px) {
    :root {
        --px: 1px;
        --size-20: 20px;
    }
}
@theme {
    --color-primary: #DBC5FF;
    --color-gray: #7F838B;
    --color-black: #000000;
    --color-dark: #021D22;
    --color-bg: #F4F4F0;
}
a:focus {
    outline: 0;
}
body {
    -webkit-font-smoothing: antialiased;
    font-family: "Inter", sans-serif;
    @apply text-[18px] lg:text-[calc(var(--px)*20)] leading-[22px] lg:leading-[calc(var(--px)*26)] text-black bg-bg;
    background-color: #EFEFEA;
}
.font_suisse {
    font-family: "Suisse Works Trial", sans-serif;
}
.container {
    @apply px-6 lg:px-[calc(var(--px)*50)] lg:max-w-full;
}
.wrapper_line {
    overflow: hidden;
}
.text_base {
    @apply text-[16px] lg:text-[length:calc(var(--px)*16)] leading-[131%];
}
.heading_h1 {
    @apply text-[75px] lg:text-[calc(var(--px)*85)] leading-[113%];
}
.heading_h2 {
    @apply text-[40px] lg:text-[calc(var(--px)*64)] leading-[129%];
}
.heading_h3 {
    @apply text-[40px] lg:text-[calc(var(--px)*32)] leading-[131%];
    &.bigger {
        @apply text-[calc(var(--px)*36)];
    }
}
.heading_h4 {
    @apply text-[calc(var(--px)*24)] leading-[121%];
}
.input_foott {
    @apply border-b border-black focus:placeholder:text-black/60 text-[calc(var(--px)*16)] pr-[calc(var(--px)*35)] h-[calc(var(--px)*70)] placeholder:text-black font-light block w-full outline-0;
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
        -webkit-text-fill-color: #000;
        transition: background-color 5000s ease-in-out 0s;
        box-shadow: 0 0 0px 1000px #EFEFEA inset;
    }
}
.btn_site {
    @apply text-[calc(var(--px)*16)] h-[calc(var(--px)*59)] px-[calc(var(--px)*40)] rounded-[calc(var(--px)*5)] font-medium cursor-pointer text-white flex justify-center items-center inline-flex;
    position: relative;
    z-index: 1;
    overflow: hidden;
    &:not(.submit_newslett) {
        background: linear-gradient(90deg, #6F59E0 0%, #AE7DFD 100%);
        &:after {
            content: '';
            position: absolute;
            background: #6F59E0;
            inset: 0;
            opacity: 0;
            z-index: -1;
            transition: opacity var(--animation-default-half);
        }
    }
    &:hover {
        &:after {
            opacity: 1;
        }
        .button_bg {
            &:after {
                opacity: 1;
            }
        }
    }
    .button_bg {
        z-index: 0;
        pointer-events: none;
        position: absolute;
        inset: 0%;
        background: linear-gradient(90deg, #6F59E0 0%, #AE7DFD 100%);
        &:after {
            content: '';
            position: absolute;
            background: #6F59E0;
            inset: 0;
            opacity: 0;
            transition: opacity var(--animation-default-half);
        }
    }
    .button_label__wrap {
        z-index: 1;
        place-items: center;
        display: grid;
        position: relative;
    }
    .button_label {
        justify-content: flex-start;
        align-items: center;
        display: flex;
        position: relative;
    }
    .button_label, .button-icon {
        transform-origin: 50% var(--y, 1100%);
    }
    .button_label:nth-of-type(1), .square-button .button-icon:nth-of-type(1) {
        transform: rotate(calc(var(--r) * 0));
    }
    .button_label:not(:nth-of-type(1)), .square-button .button-icon:not(:nth-of-type(1)) {
        position: absolute;
    }
    .button_label:nth-of-type(2), .square-button .button-icon:nth-of-type(2) {
        transform: rotate(calc(var(--r) * -1));
    }
    &.small {
        @apply px-[calc(var(--px)*16)] h-[calc(var(--px)*42)];
    }
    &.submit_newslett {
        @apply !absolute right-0 top-1/2 -translate-y-1/2 !px-0 !h-full;
    }
}
.header_top {
    .menu_header li,
    .menu_header a,
    .bg_header,
    .in_to_header {
        @apply duration-[var(--duration-default)] ease-[var(--cubic-default)] duration-300;
    }
    &.is_scrolled {
        .bg_header {
            @apply inset-y-[calc(var(--px)*8)] inset-x-[calc(var(--px)*4)];
        }
        .in_to_header {
            /*@apply max-w-[85%] -translate-y-[calc(var(--px)*24)];*/
            @apply max-w-[80%] -translate-y-[calc(var(--px)*24)];
            .menu_header {
                li {
                    @apply px-[calc(var(--px)*8)];
                }
                a {
                    @apply text-[calc(var(--px)*14)] h-[calc(var(--px)*35)];
                }
            }
        }
    }
}
.top_sticky_section {
    @apply top-[calc(var(--px)*120)];
}
.menu_header {
    @apply flex items-center justify-center;
    li {
        @apply px-[calc(var(--px)*12)];
    }
    a {
        /*@apply px-[calc(var(--px)*10)] inline-flex items-center h-[calc(var(--px)*39)] rounded-[calc(var(--px)*5)] hover:bg-gray/10 transition duration-300;*/
        @apply px-[calc(var(--px)*10)] inline-flex items-center h-[calc(var(--px)*39)] rounded-[calc(var(--px)*5)];
    }
}
.follow_menu_active {
    @apply absolute left-0 top-0 bg-gray/10 z-[-1] rounded-[calc(var(--px)*5)];
}
.bg_cta {
    background: linear-gradient(90deg, #6F59E0 0%, #AE7DFD 100%);
}
.item_accordion {
    @apply border-b border-gray;
    &:first-child .toggle_accordion {
        @apply lg:pt-0;
    }
    .toggle_accordion {
        @apply relative font-medium pt-[calc(var(--px)*30)] pb-[calc(var(--px)*16)] cursor-pointer;
        .inside_toggl_acr {
            @apply relative pr-[calc(var(--px)*30)];
        }
    }
    .arrow_accord {
        background-size: 100%;
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='7.5' y1='2.18557e-08' x2='7.5' y2='15' stroke='white'/%3E%3Cline x1='15' y1='7.5' x2='-4.37114e-08' y2='7.5' stroke='white'/%3E%3C/svg%3E");
        @apply absolute right-0 top-[calc(var(--px)*3)] opacity-50 w-[calc(var(--px)*15)] h-[calc(var(--px)*15)] bg-center bg-no-repeat;
    }
    .accordion_description {
        .inside_acc_descr {
            @apply pt-[calc(var(--px)*4)] pb-[calc(var(--px)*16)] text-white/60;
        }
    }
}
.js_accordion__content {
    @apply h-0 overflow-hidden;
}
.menu_line_a {
    a {
        @apply relative;
    }
}
.label {
    @apply text-black text-[calc(var(--px)*15)] px-[calc(var(--px)*16)] h-[calc(var(--px)*38)] uppercase bg-primary inline-flex items-center;
}
.item_solution {
    @apply relative z-[1] md:border-[calc(var(--px)*0.5)] hover:text-black duration-[var(--duration-default)] ease-[var(--cubic-default)] duration-300;
    .bottom_active_line {
        @apply h-px absolute left-0 bottom-0 bg-white/40;
    }
    &:before {
        @apply content-[''] absolute top-1/2 -translate-y-1/2 w-[calc(var(--px)*1)] h-[calc(var(--px)*18)] left-[calc(var(--px)*30)] bg-white/25;
    }
    &:after {
        @apply content-[''] absolute top-1/2 -translate-y-1/2 w-[calc(var(--px)*1)] h-[calc(var(--px)*18)] right-[calc(var(--px)*30)] bg-white/25;
    }
}
.remove_bg {
    filter: contrast(120%) brightness(105%);
    mix-blend-mode: multiply;
}
.plan_list_compar {
    li {
        @apply relative;
        &:before {
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='16' rx='8' fill='%23D9F7E9'/%3E%3Cpath d='M2.61932 8.57812L3.42898 7.74716L6.24148 10.517L12.0582 4.72159L12.8892 5.55256L6.24148 12.179L2.61932 8.57812Z' fill='black'/%3E%3C/svg%3E%0A");
            background-size: 100%;
            @apply bg-no-repeat bg-center absolute -left-[calc(var(--px)*36)] top-0 w-[calc(var(--px)*16)] h-[calc(var(--px)*16)] content-[''];
        }
        &:not(:last-child) {
            @apply mb-[calc(var(--px)*14)]
        }
    }
}
.wrap_tooltip {
    @apply relative;
    .text_tooltip {
        @apply border-b border-dotted transition duration-300;
    }
    .tooltip_wrapper {
        @apply opacity-0 invisible translate-y-1 absolute top-full mt-[calc(var(--px)*4)] left-1/2 -translate-x-1/2 text-[calc(var(--px)*12)] px-[calc(var(--px)*17)] py-[calc(var(--px)*8.5)] rounded-[calc(var(--px)*6)] leading-[142%] text-white bg-black min-w-[calc(var(--px)*155)] z-[1] transition duration-300;
    }
    &:hover {
        .tooltip_wrapper {
            @apply opacity-100 visible translate-y-0;
        }
        .text_tooltip {
            @apply border-transparent;
        }
    }
}
.accordion_feature {
    .js_accordion__group {
        @apply border-b border-gray pb-[calc(var(--px)*15)];
        &:not(:first-child) {
            @apply pt-[calc(var(--px)*15)];
        }
        .js_accordion__menu {
            @apply pl-10 md:pl-[calc(var(--px)*72)] cursor-pointer relative text-white/60 hover:text-white transition duration-300;
            .inside_toggl_acr {
                @apply text-[18px] md:text-[calc(var(--px)*24)] leading-[129%] relative scale-[.85] transition duration-300 origin-left;
            }
            .counter_feature {
                @apply absolute left-0 top-[calc(var(--px)*1)] -top-[calc(var(--px)*6)] text-[calc(var(--px)*15)];
            }
        }
        .js_accordion__content > div :is(p,.image_mobile_feat) {
            @apply opacity-0 duration-[.6s] translate-y-2;
        }
        &:not(.active) .js_accordion__menu:hover {
            .inside_toggl_acr {
                @apply hover:scale-[.88];                
            }
        }
        &.active {
            .js_accordion__menu {
                @apply text-white pointer-events-none;
            }
            .inside_toggl_acr {
                @apply scale-100;
            }
            .js_accordion__content > div :is(p,.image_mobile_feat) {
                @apply opacity-100 translate-y-0 delay-[.3s];
                &:nth-child(2) {
                    @apply delay-[.4s];
                }
                &:nth-child(3) {
                    @apply delay-[.5s];
                }
                &:nth-child(4) {
                    @apply delay-[.6s];
                }
                &:nth-child(5) {
                    @apply delay-[.7s];
                }
            }
        }
    }
}
.item_accordion {
    .inside_acc_descr {
        @apply opacity-0 duration-[.4s] translate-y-2 delay-[.3s];
    }
    &.active {
        .inside_acc_descr {
            @apply opacity-100 translate-y-0;
        }
    }
}
.item_img_feature {
  will-change: opacity, transform, filter;
}
@media (hover: hover) and (pointer: fine) {
    [data-hover]:hover [data-underline-link]::before, [data-underline-link]:hover::before {
        transform-origin: left;
        transform: scaleX(1) rotate(0.001deg);
    }
    [data-hover]:hover [data-underline-link="alt"]::before, [data-underline-link="alt"]:hover::before {
        transform-origin: right;
        transform: scaleX(0) rotate(0.001deg);
        transition-delay: 0s;
    }
    [data-hover]:hover [data-underline-link="alt"]::after, [data-underline-link="alt"]:hover::after {
        transform-origin: left;
        transform: scaleX(1) rotate(0.001deg);
        transition-delay: 0.3s;
    }
}
[data-underline-link]::before, [data-underline-link="alt"]::before, [data-underline-link="alt"]::after {
    content: "";
    position: absolute;
    bottom: -0.0625em;
    left: 0;
    width: 100%;
    height: 0.0625em;
    background-color: currentColor;
    transition: transform var(--duration-default) var(--cubic-default);
    transform-origin: right;
    transform: scaleX(0) rotate(0.001deg);
}
[data-underline-link="alt"]::before {
    transform-origin: left;
    transform: scaleX(1) rotate(0.001deg);
    transition-delay: 0.3s;
}
[data-underline-link="alt"]::after {
    transform-origin: right;
    transform: scaleX(0) rotate(0.001deg);
    transition-delay: 0s;
}
.item_accordion[data-underline-link]:before {
    @apply -bottom-[calc(var(--px)*1)]
}
[data-underline-link] {
    text-decoration: none;
    position: relative;
}
/*.input_under[data-underline-link]:before {
    height: 1px;
}*/
.home_title {
    display: block;
}
@media(min-width: 1024px) {
    [data-parallax-projects] img[default-resize-parallax] {
        transform: translateY(-10%);
        top: 0;
    }
    img[default-resize-parallax] {
        height: 120%;
        width: 100%;
        object-fit: cover;
        position: absolute;
        inset: 0;
        top: -10%;
        transform-origin: 50% 50%;
    }
}
[data-splitting] {
    font-kerning: none;
}
html.lenis,
html.lenis body {
    height: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}
.lenis.lenis-stopped {
    overflow: clip;
}
.lenis.lenis-smooth iframe {
    pointer-events: none;
}
.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}
.loading_form {
    @apply opacity-0 invisible scale-90 transition duration-400;
}
body {
    &.form_submitting {
        .loading_form {
            @apply opacity-100 visible scale-100;
        }
    }
}
.thank_wrapper {
    @apply mt-3 opacity-0 invisible transition duration-300;
    strong {
        @apply font-semibold block;
    }
}
.wpcf7-form {
    &.sent {
        @apply max-md:pb-[45px];
        .thank_wrapper {
            @apply opacity-100 visible translate-y-0;
        }
    }
}
.form_contact {
    .wpcf7-response-output,
    .wpcf7-not-valid-tip {
        @apply hidden;
    }
}
.form_contact .wpcf7-not-valid {
    @apply placeholder:text-[red] focus:placeholder:text-[red]/60 text-[red];
}
.wrapper_heading_top {
    @apply flex gap-[var(--size-40)] justify-between;
    .wrapper_anim_star {
        @apply pt-[18px] lg:pt-[3.0555555555555554vw];
        .decor_heading {
            @apply max-md:w-[29px] max-md:h-[29px];
        }
    }
}
.icon_thrr_blk {
    @apply w-[30px] lg:w-[calc(var(--px)*30)] h-auto;
}
.icon_logo_solution {
    @apply w-[calc(var(--px)*165)] h-auto;
}
.icon_price {
    @apply w-[calc(var(--px)*32)] h-auto;
}
.menu_burger {
    @apply gap-[5px] relative;
    span {
        @apply h-0.5 bg-current w-full block transition-all rounded-full relative duration-[var(--duration-default)] ease-[var(--cubic-default)] duration-500;
    }
    &.opened > span:nth-child(1) {
        @apply translate-y-[4px] rotate-[40deg];
    }
    &.opened > span:nth-child(2) {
        @apply translate-y-[-3px] rotate-[-40deg];
    }
    &:before {
        @apply content-[''] absolute -inset-4;
    }
}
.wpcf7-not-valid-tip {
    @apply pt-1.5 lg:pt-[.5vw] font-medium !hidden;
}
.wpcf7 form:not(.sent) .wpcf7-response-output {
    display: none !important;
}
.wpcf7 form .wpcf7-response-output {
    @apply text-[length:var(--size-20)] m-0 border-0 p-0 mt-8 lg:mt-[1.4vw] text-primary;
}
.form_footer {
    @apply mb-5 lg:mb-[1.0416666666666665vw];
}
.wpcf7-form-control-wrap span {
    display: block;
}
@media(max-width: 1023px) {
    .hide_br_tablet br {
        display: none;
    }
}
@media(max-width: 767px) {
    .inside_toggl_acr br,
    .hide_br_mobile br {
        display: none;
    }
}